.full {
    background-color: #31313a;
    height: auto;
    padding-left: 40px;
    margin: 40px;
}

nav.header {
    background-color: #31313a;
    padding-left: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    text-align: center;
}

nav.header2 {
    background-color: #26262d;
    padding-top: 40px;
}

nav.footer {
    background-color: #31313a;
    padding-left: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    font-size: 20px;
}

nav.footer2 {
    background-color: #26262d;
    padding-bottom: 40px;
}