.full {
    background-color: #31313a;
    color: lightgrey;
    height: auto;
}

nav.header {
    background-color: #31313a;
}

nav.footer {
    background-color: #31313a;
    font-size: 20px;
    padding-top: -20px;
}


/* Border Tabel */


/* border line */

.resume-items .resume-item .name {
    font-weight: 500;
    color: white;
    font-style: initial;
    margin: 0 0 15px 0;
}

.resume-items .resume-item p {
    margin: 0;
}

.resume-items .resume-item:before {
    background: aliceblue;
}

.resume-items .resume-item .date {
    color: aliceblue;
    border-color: aliceblue;
}

.resume-items .resume-item .date:before {
    background: aliceblue;
}


/* end border line */

@media (max-width: 840px) {
    .section.resume .cols .col.col-md:first-child {
        margin-bottom: 120px;
    }
}

.resume-items .resume-item {
    position: relative;
    padding: 0 30px 60px 30px;
}

@media (max-width: 840px) {
    .resume-items .resume-item {
        padding-right: 0px;
    }
}

.resume-items .resume-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: aliceblue;
}

.resume-items .resume-item:first-child {
    padding-top: 0;
}

.resume-items .resume-item:last-child {
    padding-bottom: 0;
    margin-top: -1px;
}

.resume-items .resume-item:last-child:before {
    display: none;
}

.resume-items .resume-item .date {
    position: relative;
    top: -10px;
    margin: 0 0 5px 0;
    display: inline-block;
    padding: 0 5px;
    height: 20px;
    line-height: 18px;
    font-weight: 500;
    font-size: 11px;
    color: aliceblue;
    border: 1px solid aliceblue;
}

.resume-items .resume-item .date:before {
    content: '';
    width: 29px;
    height: 1px;
    position: absolute;
    left: -30px;
    top: 5px;
    background: aliceblue;
}


/* end Border Tabel */